.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 9.63vmin;
    padding-bottom: 6.48vh;

    background-color: #ededed;
    color: #3b3b3b;
    font-family: 'Raleway Semibold';
}

.about-us-headline {
    font-family: 'Raleway Extra Bold';
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #1d1d1d;
}

.about-us-subtitle {
    font-size: 1.125rem;
}

.about-us-description {
    width: 70vw;
    font-size: 0.875rem;
}