.main-menu {
    height: 7.59vh;

    position: -webkit-sticky;
    position: sticky;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #fff;
    text-transform: uppercase;
}

.main-menu-logo {
    font-family: 'Raleway Extra Bold';
    font-size: 1.875rem;
    color: #1c1c1c;
}

.main-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 54.27vw;
}

.main-menu-item {
    font-family: 'Raleway Semibold';

    color: #3b3b3b;
    font-size: 1.125rem;
}