@media screen and (max-width: 1090px) and (max-aspect-ratio: 11/9) {
    .welcome-block {
        background-position: 30% 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }  

    .welcome-title {
        padding-right: 0;
        padding-top: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        margin: auto 10vmin;

    }

    .logo-and-menu,
    .main-menu-logo,
    .statistics,
    .quick-links,
    .footer-headline {
        display: none;
    }

    .main-menu,
    .main-menu-list,
    .product-items,
    .team-members,
    .instagram-gallery,
    .footer-links-block {
        flex-direction: column;
    }

    .main-menu {
        height: auto;
        position: static;
    }    

    .main-menu-list {
        height: 100%;
        justify-content: space-around;
    }

    .main-menu-item:first-child {
        margin-top: 4vh;
    }

    .main-menu-item,
    .product-item,
    .team-description,
    .team-member,
    .social-showcase-description,
    .instagram-photo,
    .contacts {
         margin-bottom: 4vh;
    }

    .welcome-title-headline,
    .featured-products-headline,
    .follow-us,
    .team-headline,
    .team-description,
    .social-showcase-headline,
    .footer-subtitle,
    .about-us-subtitle {
        text-align: center;
    }

    .footer-links-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .team-member {
        margin-right: 0;
    }

    .social {
        margin-bottom: 8vh;
        width: 100%;
    }

    .social-buttons {
        justify-content: space-around;
    }
}