.featured-products {
    color: #3b3b3b;
    font-family: 'Raleway Semibold';

    margin: 4.81% 9.11% 7.04%;
    margin: 4.81vh 9.11vw 7.04vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.featured-products-headline {
    font-family: 'Raleway Extra Bold';
    font-size: 1.875rem;
    text-transform: uppercase;
    color: #1e1e1e;
}

.featured-products-description {
    font-size: 1.125rem;
    margin-top: 1.85%;
    margin-bottom: 3.7%;
    margin-top: 1.85vh;
    margin-bottom: 3.7vh;
}

.product-items {
    display: flex;
    justify-content: space-between;
    
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 4.06%;
    margin-right: 4.06vw;
}

.product-item:last-child {
    margin-right: 0;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-name {
    font-family: 'Raleway Bold';
    font-size: 1.5rem;
    text-transform: uppercase;
}

.product-price {
    font-size: 1.875rem;
}

.product-price::before {
    content: "$";
}

.learn-more {
    font-size: 1.125rem;
    text-decoration: underline;
}