.social-showcase {
    color: #1e1e1e;
    font-family: 'Raleway Extra Bold';

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.3% 10% 5.56%;
    padding: 6.3vh 10vw 5.56vh;
}

.social-showcase-headline {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-family: 'Raleway Extra Bold';
}

.social-showcase-description {
    font-family: 'Raleway Semibold';
    font-size: 1.125rem;
    margin-top: 2.13%;
    margin-bottom: 5.09%;
    margin-top: 2.13vh;
    margin-bottom: 5.09vh;
    text-align: center;
}

.instagram-gallery {
    display: flex;
    align-items: center;
}

.follow-us {
    color: #3b3b3b;
    font-size: 1.5rem;
    text-transform: uppercase;

    margin-top: 6.11%;
    margin-top: 6.11vh;
}