.social-showcase {
    color: #1e1e1e;
    font-family: 'Raleway Extra Bold';

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.3vh 10vw 5.56vh;
}

.social-showcase-headline {
    font-size: 1.875rem;
    text-transform: uppercase;
    font-family: 'Raleway Extra Bold';
}

.social-showcase-description {
    font-family: 'Raleway Semibold';
    font-size: 1.125rem;
}

.instagram-gallery {
    display: flex;
    align-items: center;
}

.follow-us {
    color: #3b3b3b;
    font-size: 1.5rem;
    text-transform: uppercase;
}