.welcome-block {
    width: 100%;;
    height: 100vh;
    background-image: url('../images/welcome-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    color: #ededed;
}

.logo-and-menu {
    display: flex;
    justify-content: space-between;
    
    padding: 10.6vh 10vw;
    
    text-transform: uppercase;
}

.welcome-logo {
    font-size: 1.875rem;
    font-family: 'Raleway Extra Bold' serif;
}

.dropdown-menu-header {
    font-size: 1.5rem;
}

.dropdown-menu-header::after {
    content: url(../images/burger-menu.png);
}

.dropdown-menu-list {
    display: none;
}

.welcome-title {
    padding-top: 20vh;
    padding-right: 10vw;
    float: right;
}

.welcome-title-headline {
    font-size: 3rem;
}

.welcome-title-quote {
    text-align: right;
    font-size: 1.5rem;
}