.welcome-block {
    width: 100%;
    height: 100vmin;
    background-image: url('../images/welcome-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    color: #ededed;
}

.logo-and-menu {
    display: flex;
    justify-content: space-between;
    
    padding: 10.6vh 10vw;
    
    text-transform: uppercase;
}

.welcome-logo {
    font-size: 1.875rem;
    font-family: 'Raleway Extra Bold';
}

.dropdown-menu {
    display: flex;
    align-items: center;

    font-family: 'Raleway Semibold';
}

.dropdown-menu-header {
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
}

.dropdown-menu-header-icon {
    margin-left: 3px;
}

.dropdown-menu-list {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
}

.dropdown-menu-list-closed {
    visibility: hidden;
}

.dropdown-menu-item {
    margin-right: 5vw;
}

.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 20vh;
    padding-right: 10vw;
}

.welcome-title-headline {
    font-size: 3rem;
    font-family: 'Raleway Extra Bold';
    text-transform: uppercase;
}

.welcome-title-quote {
    font-family: 'Raleway Regular';
    
    text-align: right;
    font-size: 1.5rem;
}

.welcome-title-quote-author {
    font-family: 'Raleway Light Italic';
    font-size: 1.125rem;
}
